<div class="wing wing-{{index}}"
     [ngStyle]="{transform: 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')' }">
    <svg class="wing-svg" width="100%" height="100%">
        <path style="pointer-events:auto;"
              (mouseover)="onMouseOver()"
              (mouseout)="onMouseOut()"
              [attr.fill]="wing.color"
              [attr.d]="svgPath"></path>
        <text class="wing-text"
              x="50%"
              y="50%"
              dominant-baseline="central"
              style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);"
              [attr.text-anchor]="textAnchor"
              [attr.transform]="'rotate('+ textRotate + ', ' + menuOptions.MenuConfig.radius/2  + ', ' + menuOptions.MenuConfig.radius/2 + ')'"
              [attr.fill]="wing.titleColor">{{wing.title}}
        </text>
    </svg>
</div>