<div class="wing wing-{{index}}"
     [ngStyle]="{transform: 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')' }">
    <svg class="wing-svg" width="100%" height="100%">
        <path style="pointer-events:auto;"
              (mouseover)="onMouseOver()"
              (mouseout)="onMouseOut()"
              [attr.fill]="wing.color"
              [attr.d]="svgPath"></path>
        <text class="wing-text"
              x="50%"
              y="50%"
              dominant-baseline="central"
              style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);"
              [attr.text-anchor]="textAnchor"
              [attr.transform]="'rotate('+ textRotate + ', ' + menuOptions.MenuConfig.radius/2  + ', ' + menuOptions.MenuConfig.radius/2 + ')'"
              [attr.fill]="wing.titleColor">{{wing.title}}
        </text>
    </svg>
    <i class="{{wing.icon.name}}"
       [ngStyle]="{
            'color': wing.icon.color,
            'font-size': wing.icon.size + 'px',
            'width': wing.icon.size + 'px',
            'height': wing.icon.size + 'px',
            'text-align': 'center',
            'transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)',
            'transform-origin': '50% 50%'
       }"></i>
</div>