<div class="wing wing-{{index}}"
     [ngStyle]="{
        'transform': 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')',
        '-webkit-transform': 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')',
        '-ms-transform': 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')',
        '-moz-transform': 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')',
        '-o-transform': 'rotate(' + rotateDeg + 'deg) '+ 'scale(' + scaleSize +')'
     }">
    <svg class="wing-svg" width="100%" height="100%">
        <path style="pointer-events:auto;"
              (click)="onClick()"
              (mouseover)="onMouseOver()"
              (mouseout)="onMouseOut()"
              [attr.fill]="wing.color"
              [attr.d]="svgPath"></path>
        <text class="wing-text"
              *ngIf="!menuOptions.MenuConfig.onlyIcons"
              x="50%"
              y="50%"
              dominant-baseline="central"
              style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);"
              [ngStyle]="{'font-size': menuOptions.MenuConfig.wingFontSize + 'px'}"
              [attr.text-anchor]="textAnchor"
              [attr.transform]="'rotate('+ textRotate + ', ' + menuOptions.MenuConfig.radius/2  + ', ' + menuOptions.MenuConfig.radius/2 + ')'"
              [attr.fill]="wing.titleColor || menuOptions.MenuConfig.wingFontColor">{{wing.title}}
        </text>
    </svg>
    <i class="{{wing.icon.name}}"
       *ngIf="menuOptions.MenuConfig.showIcons || menuOptions.MenuConfig.onlyIcons"
       [ngStyle]="{
            'color': wing.icon.color || menuOptions.MenuConfig.wingFontColor,
            'font-size': iconSize + 'px',
            'width': iconSize + 'px',
            'height': iconSize + 'px',
            'transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)',
            '-webkit-transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)',
            '-ms-transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)',
            '-moz-transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)',
            '-o-transform': 'translate(' + iconX + 'px, ' + iconY + 'px) rotate('+ rotateDeg * -1 + 'deg)'
       }"></i>
</div>