.wing {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  transform-origin: 0px 50%;
  transition: all .3s cubic-bezier(0.680, -0.550, 0.265, 1.550);

  i {
    text-align: center;
    transform-origin: 50% 50%;
  }
}