<main>
    <header class="header">
        <h1>Ng2 Fan Menu</h1>
        <p>A fancy menu built by AngularJS 2</p>
        <a>
            <img class="github-banner"
                 src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                 alt="Fork me on GitHub"
                 data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
        </a>
    </header>
    <section class="container">
        <div class="description">
            <p>AngularJS 2 Fan Menu - AngularJS 2 reusable UI Component</p>
            <ul>
                <li>This Fan Menu is responsive and works on all device</li>
                <li>The source code of the module is here</li>
                <li>The sample code is here</li>
                <li>See more on the documentation</li>
            </ul>
        </div>

        <div class="demo">

            <!-- Menu Font -->
            <div class="row">
                <hr>
                <h2>Config Menu Font Family</h2>
                <p class="description">The font family type of the menu.</p>
                <p class="default">Default: {{defaultOptions.font}}</p>
                <input class="config-input menu-font"
                       [ngModel]="defaultOptions.font" #font>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('font', font.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('font')">Apply Default
                </button>
            </div>

            <!-- Menu Default Open -->
            <div class="row">
                <hr>
                <h2>Config Menu Default Open State</h2>
                <p class="description">Config if open menu automatically on load.</p>
                <p class="default">Default: {{defaultOptions.defaultOpen}}</p>
                <div>
                    <label>
                        <input type="checkbox" name="isDefaultOpen"
                               [ngModel]="defaultOptions.defaultOpen"
                               (ngModelChange)="applyChanges('defaultOpen', $event)">
                        Menu automatically open on load
                    </label>
                </div>
            </div>

            <!-- Menu Radius -->
            <div class="row">
                <hr>
                <h2>Config Menu Radius</h2>
                <p class="description">The radius of the menu wings from the center of the button. The radius unit is 'px'.</p>
                <p class="default">Default: {{defaultOptions.radius}}px</p>
                <input class="config-input menu-radius"
                       [ngModel]="defaultOptions.radius" #radius>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('radius', radius.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('radius')">Apply Default
                </button>
            </div>

            <!-- Menu Spinable -->
            <div class="row">
                <hr>
                <h2>Config Menu Spin State</h2>
                <p class="description">Config if the menu could be span</p>
                <p class="default">Default: {{defaultOptions.spinable}}(could not be span)</p>
                <div>
                    <label>
                        <input type="checkbox" name="isSpinable"
                               [ngModel]="defaultOptions.spinable"
                               (ngModelChange)="applyChanges('spinable', $event)">
                        Menu Spinable
                    </label>
                </div>
            </div>

            <!-- Menu Show Icon -->
            <div class="row">
                <hr>
                <h2>Config Menu Show Icon State</h2>
                <p class="description">Config if the menu shows icons</p>
                <p class="default">Default: {{defaultOptions.showIcons}}(show wing's icons)</p>
                <div>
                    <label>
                        <input type="checkbox" name="isShowIcons"
                               [ngModel]="defaultOptions.showIcons"
                               (ngModelChange)="applyChanges('showIcons', $event)">
                        Show Icon
                    </label>
                </div>
            </div>

            <!-- Menu Only Icon -->
            <div class="row">
                <hr>
                <h2>Config Menu Only Icon State</h2>
                <p class="description">Config if the menu shows only icons (Not shows wing title)</p>
                <p class="default">Default: {{defaultOptions.onlyIcons}}(show only wing's icons, no title)</p>
                <div>
                    <label>
                        <input type="checkbox" name="isOnlyIcons"
                               [ngModel]="defaultOptions.onlyIcons"
                               (ngModelChange)="applyChanges('onlyIcons', $event)">
                        Show Only Icons
                    </label>
                </div>
            </div>

            <!-- Button Offset -->
            <div class="row">
                <hr>
                <h2>Config Button offset</h2>
                <p class="description">The gap between the menu button and the menu item wings. The width unit is 'px'.</p>
                <p class="default">Default: {{defaultOptions.offset}}</p>
                <input class="config-input button-offset"
                       [ngModel]="defaultOptions.offset" #offset>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('offset', +offset.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('offset')">Apply Default
                </button>
            </div>

            <!-- Button Background Color -->
            <div class="row">
                <hr>
                <h2>Config Button Background Color</h2>
                <p class="description">Set the button background color.</p>
                <p class="default">Default: {{defaultOptions.buttonBackgroundColor}}</p>
                <input class="config-input button-cross-size"
                       #buttonBackgroundColor
                       [value]="options['buttonBackgroundColor'] || defaultOptions.buttonBackgroundColor"
                       [style.background]="options['buttonBackgroundColor'] || defaultOptions.buttonBackgroundColor"
                       [colorPicker]="options['buttonBackgroundColor'] || defaultOptions.buttonBackgroundColor"
                       [cpPosition]="'bottom'"
                       (colorPickerChange)="applyChanges('buttonBackgroundColor', $event)">
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonBackgroundColor')">Apply Default
                </button>
            </div>

            <!-- Button Width -->
            <div class="row">
                <hr>
                <h2>Config Button Width</h2>
                <p class="description">Set the button width. The width unit is 'px'.</p>
                <p class="default">Default: 60px</p>
                <input class="config-input button-width"
                       [ngModel]="defaultOptions.buttonWidth" #buttonWidth>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('buttonWidth', +buttonWidth.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonWidth')">Apply Default
                </button>
            </div>

            <!-- Button Font Color -->
            <div class="row">
                <hr>
                <h2>Config Button Font and Cross Image Color</h2>
                <p class="description">Set the button font color and the cross image color.</p>
                <p class="default">Default: {{defaultOptions.buttonFontColor}}</p>
                <input class="config-input button-cross-size"
                       #buttonFontColor
                       [value]="options['buttonFontColor'] || defaultOptions.buttonFontColor"
                       [style.background]="options['buttonFontColor'] || defaultOptions.buttonFontColor"
                       [colorPicker]="options['buttonFontColor'] || defaultOptions.buttonFontColor"
                       [cpPosition]="'bottom'"
                       (colorPickerChange)="applyChanges('buttonFontColor', $event)">
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonFontColor')">Apply Default
                </button>
            </div>

            <!-- Button Font Size -->
            <div class="row">
                <hr>
                <h2>Config Button Font Size</h2>
                <p class="description">Set the button font size. The font size unit is 'px'.</p>
                <p class="default">Default: 14px</p>
                <input class="config-input button-font-size"
                       [ngModel]="defaultOptions.buttonFontSize" #buttonFontSize>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('buttonFontSize', +buttonFontSize.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonFontSize')">Apply Default
                </button>
            </div>

            <!-- Button Font Weight -->
            <div class="row">
                <hr>
                <h2>Config Button Font Weight</h2>
                <p class="description">Set the button font wight.</p>
                <p class="default">Default: 700</p>
                <input class="config-input button-font-weight"
                       [ngModel]="defaultOptions.buttonFontWeight" #buttonFontWeight>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('buttonFontWeight', +buttonFontWeight.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonFontWeight')">Apply Default
                </button>
            </div>

            <!-- Button opacity -->
            <div class="row">
                <hr>
                <h2>Config Button Opacity</h2>
                <p class="description">Set the button opacity value when the button is not focused or open. Value could be set between 0~1.</p>
                <p class="default">Default: 0.7</p>
                <input class="config-input button-opacity"
                       [ngModel]="defaultOptions.buttonOpacity" #buttonOpacity>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('buttonOpacity', +buttonOpacity.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonOpacity')">Apply Default
                </button>
            </div>

            <!-- Button Cross Image Size -->
            <div class="row">
                <hr>
                <h2>Config Button Cross Image Size</h2>
                <p class="description">Set the button cross image size. The size could be percentage('50%') or px('30px') or other measure units.
                    <strong>Warning: do not forget to provide the measure unit(px, em, rem, %)</strong></p>
                <p class="default">Default: 50%</p>
                <input class="config-input button-cross-size"
                       [ngModel]="defaultOptions.buttonCrossImgSize" #buttonCrossImgSize>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('buttonCrossImgSize', buttonCrossImgSize.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('buttonCrossImgSize')">Apply Default
                </button>
            </div>

            <!-- Menu wing angle -->
            <div class="row">
                <hr>
                <h2>Config Wing Angle</h2>
                <p class="description">Set the angle at which each wing will open.</p>
                <p class="default">Default: {{defaultOptions.angle}} degrees</p>
                <input class="config-input wing-angle"
                       [ngModel]="defaultOptions.angle" #angle>
                <button class="btn btn-primary config-btn"
                        (click)="applyChanges('angle', angle.value)">Apply the Change
                </button>
                <button class="btn btn-success config-btn" (click)="applyDefault('angle')">Apply Default
                </button>
            </div>
        </div>
    </section>

    <app-menu-container *ngIf="render"
                        [options]="options"
                        [wings]="wings"></app-menu-container>
</main>
